**Sommario**

- [Query di selezione con SQLite3](#query-di-selezione-con-sqlite3)
    - [`SELECT ... WHERE id = ?`: una riga della tabella in base alla chiave primaria](#select--where-id---una-riga-della-tabella-in-base-alla-chiave-primaria)
    - [`SELECT * FROM <tab>`: tutti i risultati](#select--from-tab-tutti-i-risultati)
    - [`cursor.fetchone()`: solo un risultato](#cursorfetchone-solo-un-risultato)
    - [`SELECT ... LIMIT <n>`: numero di risultati limitato a una quantità specificata](#select--limit-n-numero-di-risultati-limitato-a-una-quantit%C3%A0-specificata)
    - [`SELECT ... WHERE <col> = ?`: risultati filtrati basandosi su parametri chiave-valore](#select--where-col---risultati-filtrati-basandosi-su-parametri-chiave-valore)
    - [`SELECT ... WHERE <col> <op> <val>`: risultati filtrati basandosi su una condizione specificata](#select--where-col-op-val-risultati-filtrati-basandosi-su-una-condizione-specificata)
    - [`SELECT ... ORDER BY <col>`: risultati ordinati in base a uno o più criteri](#select--order-by-col-risultati-ordinati-in-base-a-uno-o-pi%C3%B9-criteri)
    - [`SELECT COUNT(*)`: numero di risultati](#select-count-numero-di-risultati)
    - [`SELECT DISTINCT`: risultati distinti senza duplicati](#select-distinct-risultati-distinti-senza-duplicati)
    - [`SELECT ... JOIN <tab> ON <col> = <tab>.<col>`: INNER JOIN tra tabelle](#select--join-tab-on-col--tabcol-inner-join-tra-tabelle)
    - [`SELECT ... LEFT JOIN <tab> ON <col> = <tab>.<col>`: OUTER JOIN tra tabelle](#select--left-join-tab-on-col--tabcol-outer-join-tra-tabelle)

# Query di selezione con SQLite3

Dato che l'operazione di READ (R di CRUD) prevede molte possibili query di selezione, vediamo le principali operazioni di lettura dal database in questo notebook, come argomento a parte.

Le restanti operazioni del pattern CRUD, CREATE, UPDATE e DELETE le trovate nell'altro notebook, [sqlite3_CRUD.ipynb](sqlite3_CRUD.ipynb)

### `SELECT ... WHERE id = ?`: una riga della tabella in base alla chiave primaria

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users WHERE id = ?", (1,))
user = cursor.fetchone()

conn.close()
```

OUTPUT: Restituisce la tupla che ha la chiave primaria uguale a 1. Se non esiste, restituisce `None`.

### `SELECT * FROM <tab>`: tutti i risultati

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users")
users = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple contenenti tutte le righe della tabella `users`.

### `cursor.fetchone()`: solo un risultato

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users")
first_user = cursor.fetchone()

conn.close()
```

OUTPUT: Restituisce la prima tupla della tabella `users`. Se la tabella è vuota, restituisce `None`.

### `SELECT ... LIMIT <n>`: numero di risultati limitato a una quantità specificata

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users LIMIT 10")
limited_users = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di al massimo 10 tuple della tabella `users`.

### `SELECT ... WHERE <col> = ?`: risultati filtrati basandosi su parametri chiave-valore

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users WHERE name = ?", ('Alice',))
filtered_users = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple contenenti le righe che hanno il nome 'Alice'.

### `SELECT ... WHERE <col> <op> <val>`: risultati filtrati basandosi su una condizione specificata

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users WHERE age > 18")
filtered_users = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple contenenti le righe che soddisfano la condizione specificata (in questo caso, utenti con età superiore a 18).

### `SELECT ... ORDER BY <col>`: risultati ordinati in base a uno o più criteri

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT * FROM users ORDER BY name")
ordered_users = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple contenenti le righe della tabella `users` ordinate per nome in ordine crescente.

### `SELECT COUNT(*)`: numero di risultati

Restituisce il numero di righe che soddisfano la query.

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT COUNT(*) FROM users WHERE age > 18")
user_count = cursor.fetchone()[0]

conn.close()
```

OUTPUT: Restituisce un numero intero rappresentante il conteggio degli utenti con età superiore a 18.

### `SELECT DISTINCT`: risultati distinti senza duplicati

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("SELECT DISTINCT name FROM users")
distinct_names = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple con i nomi distinti degli utenti.

### `SELECT ... JOIN <tab> ON <col> = <tab>.<col>`: INNER JOIN tra tabelle

Esegue un join tra tabelle.

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

cursor.execute("""
    SELECT users.*, posts.* 
    FROM users 
    JOIN posts ON users.id = posts.user_id
""")
user_posts = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple contenenti righe di `users` e `posts` unite tramite una `INNER JOIN`, secondo la condizione specificata.

> **NOTA**: La `INNER JOIN` mostra solo le righe che hanno una reciproca corrispondenza in entrambe le tabelle.

### `SELECT ... LEFT JOIN <tab> ON <col> = <tab>.<col>`: OUTER JOIN tra tabelle

```python
import sqlite3

conn = sqlite3.connect('db.sqlite3')
cursor = conn.cursor()

# Eseguire un LEFT OUTER JOIN tra users e posts
cursor.execute("""
    SELECT users.*, posts.*
    FROM users
    LEFT JOIN posts ON users.id = posts.user_id
""")
user_posts = cursor.fetchall()

conn.close()
```

OUTPUT: Restituisce una lista di tuple contenenti righe di `users` e `posts` unite tramite una `LEFT OUTER JOIN`, secondo la condizione specificata. Se un utente non ha post corrispondenti, le colonne della tabella `posts` saranno `NULL`.

> **NOTA BENE**: La `LEFT OUTER JOIN` mostra tutte le righe della tabella di sinistra (`User`), e le righe corrispondenti della tabella di destra (`Post`). Se non ci sono corrispondenze, le colonne della tabella di destra saranno `NULL`.