## List comprehension

```python
[ ESPRESSIONE for VARIABILE in ITERABILE ] 
```

- sintassi che imita le liste;
- esegue la stessa operazione su tutti gli elementi di un iterabile.

In [2]:
[num for num in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
[num * 2 for num in range(10)]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

La comprehension precedente è in tutto è per tutto equivalente alla seguente scrittura:

In [6]:
lista_numeri = []
for num in range(10):
    lista_numeri.append(num * 2)

lista_numeri

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [4]:
[(num, 'pippo') for num in range(10)]

[(0, 'pippo'),
 (1, 'pippo'),
 (2, 'pippo'),
 (3, 'pippo'),
 (4, 'pippo'),
 (5, 'pippo'),
 (6, 'pippo'),
 (7, 'pippo'),
 (8, 'pippo'),
 (9, 'pippo')]

#### List comprehension con condizione

- aggiungere un `if ESPRESSIONE_BOOLEANA` speciale alla fine

```python
[ ESPRESSIONE for VARIABILE in ITERABILE if ESPRESSIONE_BOOLEANA] 
```

![list_comprehension.gif](../../../imgs/list_comprehension.gif)

In [ ]:
animali = ['cani', 'gatti', 'scoiattoli', 'alci']

[animale.upper() for animale in animali if len(animale) == 4]

['CANI', 'ALCI']

In [8]:
animali = ['cani', 'gatti', 'scoiattoli', 'alci']

animali_upper = []
for animale in animali:
    if len(animale) == 4:
        animali_upper.append(animale.upper())

animali_upper

['CANI', 'ALCI']

## Dict comprehension

In [12]:
materie = ['matematica','inglese','italiano','storia']
voti_per_materia = {materia: [] for materia in materie}

voti_per_materia

{'matematica': [], 'inglese': [], 'italiano': [], 'storia': []}

In [14]:
for materia in materie:
    print(materia)

matematica
inglese
italiano
storia

In [13]:
for materia in voti_per_materia:
    print(materia)

matematica
inglese
italiano
storia

## Modulo `datetime`

### `datetime.date`

In [ ]:
from datetime import datetime

from datetime import date

Dentro il modulo `datetime` ci sono 2 oggetti:

- `datetime` &rarr; data + ora
- `date` &rarr; data

```text
datetime.
         .datetime
         .date
```

In [15]:
import datetime

# Ottiene la data corrente
oggi = datetime.date.today()

# Estrae giorno, mese e anno
giorno = oggi.day
mese = oggi.month
anno = oggi.year

# Stampa i risultati
print("Data odierna:", oggi)
print("Giorno:", giorno)
print("Mese:", mese)
print("Anno:", anno)

Data odierna: 2024-04-17
Giorno: 17
Mese: 4
Anno: 2024

### `datetime.datetime`

In [16]:
import datetime

# Ottiene la data e l'ora correnti
adesso = datetime.datetime.now()

# Estrae giorno, mese e anno
giorno = adesso.day
mese = adesso.month
anno = adesso.year

# Stampa i risultati
print("Data e ora odierna:", adesso)
print("Giorno:", giorno)
print("Mese:", mese)
print("Anno:", anno)

Data e ora odierna: 2024-04-17 21:15:57.491402
Giorno: 17
Mese: 4
Anno: 2024